# tests outputs
coverage

# build outputs
dist

# vendors
node_modules

# bin
deploy

# notes
TODO

# cypress
cypress/fixtures/example.json
cypress/integration/examples
cypress/videos

# storybook examples
src/stories
